# PostgreSQL Configuration
POSTGRES_DB=sentinelprice
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Proxy API Configuration (e.g. Zyte API,  BrightData, ScraperAPI, Oxylabs, SmartProxy)
PROXY_API_KEY=_proxy_api_key
PROXY_ENDPOINT=http://proxy.provider.com:PORT

# Scrapy Settings (optional overrides)
CONCURRENT_REQUESTS=16
DOWNLOAD_DELAY=1